body {
    background-color: whitesmoke; 
    background-repeat: no-repeat;
    /*background-size: 30%;*/
         }
    /* this section is for the body*/
  h1{
    color: #5D5c61;
    padding: 25px 0 0 0px;
    text-align: center;
  
   }


.as a puppy {
    
    text-align:center;

}
img{
    height: 300px;
    align-items: start;
    padding: 2em
}


  
  